.App {
  text-align: center;
}
.Dark{
  background-color: #3a3f49;
  color: azure;
}
.Light{
  background-color: rgb(242, 240, 240);
  color: #282c34;
}
.btn-Dark{
  background-color: rgb(84, 199, 84);
  color:whitesmoke;
  border-color: rgb(84, 199, 84);
}
.btn-Light{
  background-color: rgb(115, 31, 241);
  color: white;
  border-color: rgb(115, 31, 241);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
